
NET "A" LOC = AA10 | IOSTANDARD = LVCMOS15;
NET "B" LOC = AB10 | IOSTANDARD = LVCMOS15;
NET "C" LOC = AA13 | IOSTANDARD = LVCMOS15;

NET "G" LOC = Y12 | IOSTANDARD = LVCMOS15;
NET "G_2A" LOC = AD11 | IOSTANDARD = LVCMOS15;
NET "G_2B" LOC = AD10 | IOSTANDARD = LVCMOS15;

NET "Y0" LOC = AB26 | IOSTANDARD = LVCMOS33;
NET "Y1" LOC = W24 | IOSTANDARD = LVCMOS33;
NET "Y2" LOC = W23 | IOSTANDARD = LVCMOS33;
NET "Y3" LOC = AB25 | IOSTANDARD = LVCMOS33;
NET "Y4" LOC = AA25 | IOSTANDARD = LVCMOS33;
NET "Y5" LOC = W21 | IOSTANDARD = LVCMOS33;
NET "Y6" LOC = V21 | IOSTANDARD = LVCMOS33;
NET "Y7" LOC = W26 | IOSTANDARD = LVCMOS33;